<div id="snippets-wrapper">
  <div id="snippets-container" class="container">
    <% @snippets.each do |snippet| %>
      <div class='snippet'>
        <div class='snippet-title'>
          <%= link_to snippet.title, edit_snippet_path(snippet) %>
        </div>
        <div class='snippet-content'>
          <code>
            <%= snippet.content %>
          </code>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <script type='text/javascript'>
    var clipboard = new Clipboard('code', {
      target: function(trigger) {
        return trigger;
      }
    });
    clipboard.on('success', function(e) {
      e.clearSelection();
    });
  </script>
<% end %>