nav {
  height: $nav-height;
  @include flex-center;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #fff;
  #nav-left {
    @include flex;
    @include flex-justify(flex-end);
    @include flex-align(center);
    flex: 1;
  }
  .nav-logo {
    width: 50px;
    height: 50px;
  }
  #nav-right {
    @include flex;
    @include flex-justify(flex-start);
    @include flex-align(center);
    flex: 1;
  }
  .nav-item {
    color: $primary-color;
    text-decoration: none;
    box-sizing: border-box;
    padding: 8px 16px;
    &:hover {
      color: darken($primary-color, 10%);
      text-decoration: underline;
    }
  }
}