.snippet {
  box-sizing: border-box;
  padding: 8px 16px;
  .snippet-title {
    box-sizing: border-box;
    padding: 8px 0;
    a {
      color: $gray;
      text-decoration: none;
    }
  }
  .snippet-content {
    code {
      display: block;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 16px;
      font-family: Courier New;
      background: $dark-blue;
      color: #fff;
      position: relative;
      cursor: pointer;
      pre {
        margin: 0;
      }
    }
  }
}

form {
  input[type='text'], textarea, div[contenteditable='true'] {
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid $gray;
    margin-bottom: 8px;
    font-size: 1rem;
    font-family: 'Source Sans Pro'
  }
  div[contenteditable='true'] {
    min-height: 300px;
    &:empty {
      &:before {
        color: #999;
        content: attr(data-placeholder);
      }
      &:focus {
        &:before {
          content: ''   
        }
      }
    }
    pre {
      margin: 0;
    }
  }
  textarea {
    resize: none; 
  }
  input[type='submit'] {
    @include button($primary-color);
    width: 100%;
  }
}
