// Fonts
$primary-font: 'Montserrat', Arial, sans-serif;

// Breakpoints
$massive-breakpoint: 1600px;
$extra-large-breakpoint: 1200px;
$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 480px;
$extra-small-breakpoint: 320px;

// Size
$container-width: 1200px;
$nav-height: 80px;
$mobile-nav-height: 100px;
$border-radius: 4px;

// Colors
$gray: #222;
$dark-blue: rgb(52, 73, 94);
$yellow: rgb(241, 196, 15);

$primary-color: $dark-blue;