// Fonts
$primary-font: 'Source Sans Pro', Arial, sans-serif;

// Breakpoints
$massive-breakpoint: 1600px;
$extra-large-breakpoint: 1200px;
$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 480px;
$extra-small-breakpoint: 320px;

// Size
$container-width: 1200px;
$nav-height: 60px;
$mobile-nav-height: 100px;
$border-radius: 4px;

// Colors
$primary-color: rgb(255, 94, 0);
$light-gray: #eee;
$gray: #ccc;
$medium-gray: #999;
$dark-gray: #666;
$very-dark-gray: #222;
$green: #29e177;
$red: #e74c3c;
$dark-red: #c0392b;
$dark-blue: rgb(52, 73, 94);